*{
        box-sizing: border-box;
}
:root {
    --background-color: darkgrey;
    --button-color: darkslategrey;
    --main-font: 'helvetica';
}

body {
    background-color: var(--background-color);
}

header {
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 250;
    text-align: center;
    margin-top: 1rem;
}

h1 {
    text-align: center;
    margin-top: 10vh;
}

h2 {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 300;
}

footer {
    grid-area: footer;
    display: block;
    text-align: center;
    font-family: 'helvetica';
    font-size: 1.5rem;
    font-weight: 250;
    position: relative;
}

/* WRAPPER GRID FOR QUESTION PAGE */

.wrapper {
    margin: auto;
    max-width: 1400px;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'question question question'
        '. nested .'
        'footer footer footer';
}

/* WRAPPER GRID FOR ANSWER PAGE */

.wrapper2 {
    margin: auto;
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        'question question question'
        '. results .'
        '. share .'
        '. comment .'
        '. comment1 .'
        'footer footer footer'
}

/* NESTED GRIDS FOR THE BUTTONS SECTION */

.nested {
    width: 100%;
    grid-area: nested;
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'button1 button2'
        'button3 button4'
        'footer footer';
}

.question {
    grid-area: question;
    font-family: var(--main-font);
    font-weight: 300;
    text-align: center;
    margin-top: 10vh;
}

/* DEFINING ANSWER PAGE GRID AREAS */

.results {
    grid-area: results;
    justify-self: center;
    width: 100%;
}

.share {
    grid-area: share;
}

/* ALSO USING FLEX ON COMMENT BOX */

.comment {
    grid-area: comment;
}

/* FOR PLAYERS COMMENTS

.comment1 {
    grid-area: comment1;
} */

/* ANIMATION FOR THE RESULTS GRAPH */

.box1 {
    height: 40px;
    width: 5px;
    background-color: var(--button-color);
    position: relative;
    animation-name: stretch;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes stretch {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.box2 {
    height: 40px;
    width: 5px;
    margin-top: 1rem;
    background-color: var(--button-color);
    position: relative;
    animation-name: stretch1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes stretch1 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

.box3 {
    height: 40px;
    width: 5px;
    margin-top: 1rem;
    background-color: var(--button-color);
    position: relative;
    animation-name: stretch2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes stretch2 {
    from {
        width: 0;
    }

    to {
        width: 65%;
    }
}

.box4 {
    height: 40px;
    width: 5px;
    margin-top: 1rem;
    background-color: var(--button-color);
    position: relative;
    animation-name: stretch3;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes stretch3 {
    from {
        width: 0;
    }

    to {
        width: 12%;
    }
}


/* STYLING ON THE QUESTION BUTTONS */

.buttons {
    background-color: var(--button-color);
    font-family: var(--main-font);
    border: none;
    color: black;
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
}

.button {
    grid-area: button1;
    margin-top: 5rem;
}

.button2 {
    grid-area: button2;
    margin-top: 5rem;
}

.button3 {
    grid-area: button3;
}

.button4 {
    grid-area: button4;
}
@media only screen and (max-width:900px){
    .wrapper2, .wrapper{
        grid-template-columns: 1fr 5fr 1fr;
    }
    .nested{
        grid-row-gap: 1rem;
    grid-column-gap: .5rem;
    }
}

.buttons:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.buttons:active {
    background-color: var(--button-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* USING FLEX ON THE SIDE ARROWS AND STYLING */

.right_arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.rightArrow {
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.left_arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftArrow {
    width: 40px;
    height: 40px;
}

.rightArrow:hover,
.leftArrow:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* STYLING THE HR TAG AROUND 'SHARE DILEMA' */

.line {
    border: 1px solid black;
    border-radius: 3px;
    width: 65%;
}

.commentform {
    width: 1000%;
}

.comments {
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: var(--main-font);
    background-color: #DCDCDC;
}

/* USE JAVASCRIPT TO USE A KEYPRESS IN PLACE OF THE SUBMIT BUTTON */

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-family: var(--main-font);
}

/* SVG COMMENTED OUT FOR NOW

.share_icon {
    width: 20px;
    height: 20px;
} */
