*{
        box-sizing: border-box;
    font-family: var(--main-font);
}
:root {
    /*LIAMS COLOURS*/
    --background-color: darkgrey;
    --button-color: darkslategrey;
    --answer-bars: darkslategrey;
    /*CHIRS' COLORS*/
    --background-color: #F6F1E8;
    --button-color: #DCD4C8;
    --answer-bars: #C2B9AE;

    --main-font: 'helvetica';
}

body {
    background-color: var(--background-color);
    height: 90vh;
    margin: 0;
}

header {
    width: 100%;
    font-family: var(--main-font);
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    padding: 3rem;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 0;
    transform: scale(1.2)
}

svg {
    width: 6rem;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: var(--main-font);
    font-weight: 300;
}

footer {
    padding-top: 3.5rem;
    display: block;
    text-align: center;
    font-family: 'helvetica';
    font-size: 1.5rem;
    font-weight: 250;
    position: relative;
    min-height: 10%;
}

/* INDEX PAGE (CHAPTER OVERVIEW) */
.indexwrap {
    height: 80%;
    width: 60%;
    margin: auto;
    position: relative;
}

.indexwrap h1, .indexwrap h2 {
    transform: scale(.8);
}

.chapterwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .1rem;
    position: relative;
    top: 25%;
    border-radius: .1rem;
    overflow: hidden;
}

.chapters {
    background-color: var(--button-color);
}

/* CHAPTERS INDEX PAGE */
.chapter-index {
    height: 80%;
    padding-top: 10%;
    opacity: 0;
}

.start-transition{
animation: transition 3s forwards;
}

@keyframes transition {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* WRAPPER GRID FOR QUESTION PAGE */

.question-wrapper {
    padding-top: 1rem;
    height: 80%;
    margin: auto;
    max-width: 1400px;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: [first-line] 25% [line2] 75% [last-line];
    grid-template-areas:
        'question question question'
        '. nested .'
}

/* WRAPPER GRID FOR ANSWER PAGE */

.answer-wrapper {
    padding-top: 1rem;
    height: 80%;
    margin: auto;
    max-width: 1400px;
    width: 100%;
    display: grid;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: [first-line] 25% [line2] 75% [last-line];
    grid-template-areas:
        'question question question'
        '. results .'
}

/* NESTED GRIDS FOR THE BUTTONS SECTION */

.nested {
    width: 100%;
    grid-area: nested;
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'button1 button2'
        'button3 button4'
}

.question {
    grid-area: question;
    font-family: var(--main-font);
    font-weight: 300;
    text-align: center;
}

/* DEFINING ANSWER PAGE GRID AREAS */

.results {
    grid-area: results;
    justify-self: center;
    width: 100%;
}

.comment-share {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;

}

/* FOR PLAYERS COMMENTS

.comment1 {
    grid-area: comment1;
} */

/* ANIMATION FOR THE RESULTS GRAPH */

.boxes {
    height: 40px;
    width: 5px;
    background-color: var(--answer-bars);
    position: relative;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.box1 {
        animation-name: stretch;
}
@keyframes stretch {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.box2 {
    animation-name: stretch1;
}

@keyframes stretch1 {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

.box3 {
    animation-name: stretch2;
}

@keyframes stretch2 {
    from {
        width: 0;
    }

    to {
        width: 65%;
    }
}

.box4 {
    animation-name: stretch3;
}

@keyframes stretch3 {
    from {
        width: 0;
    }

    to {
        width: 12%;
    }
}

/* PERCENTAGE INSIDE OF ANSWER BOXES */

.percentage {
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
    text-align: end;

}

/*TEXT ABOVE ANSWER BOXES*/

.results p {
    padding-left: .5rem;
    margin-bottom: .2rem;
}

/* STYLING ON THE QUESTION BUTTONS */

.buttons {
    background-color: var(--button-color);
    font-family: var(--main-font);
    border: none;
    color: black;
    padding: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 8px;
}

.button {
    grid-area: button1;
}

.button2 {
    grid-area: button2;
}

.button3 {
    grid-area: button3;
}

.button4 {
    grid-area: button4;
}
@media only screen and (max-width:900px){
    .wrapper2, .wrapper{
        grid-template-columns: 1fr 5fr 1fr;
    }
    .nested{
        grid-row-gap: 1rem;
    grid-column-gap: .5rem;
    }
}

.buttons, .chapters:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.buttons:active {
    background-color: var(--button-color);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* USING FLEX ON THE SIDE ARROWS AND STYLING */

.right_arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.rightArrow {
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

.left_arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftArrow {
    width: 40px;
    height: 40px;
}

.rightArrow:hover,
.leftArrow:hover {
    cursor: pointer;
    transform: scale(1.15);
}

/* STYLING THE HR TAG AROUND 'SHARE DILEMA' */

.line {
    border: 1px solid black;
    border-radius: 3px;
    width: 65%;
}

.comment {
    margin-top: 2rem;
}

.commentform {
    width: 100%;
}

.comments {
    border-radius: 20px;
    border: none;
    width: 100%;
    padding: 10px;
    font-family: var(--main-font);
    background-color: #DCDCDC;
}

/* USE JAVASCRIPT TO USE A KEYPRESS IN PLACE OF THE SUBMIT BUTTON */

.submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-family: var(--main-font);
}

/* SVG COMMENTED OUT FOR NOW

.share_icon {
    width: 20px;
    height: 20px;
} */

/* ADDING FADE EFFECT ON INDEX */
.fadein{
    opacity: 0;
    animation: fadein 4s forwards;
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* USED FOR UNAVAILABLE CHAPTERS*/

.unavailable {
    opacity: 0.2;
}
.unavailable:hover {
    box-shadow: inherit;
    cursor: default;
}
